/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #9ca3af; /* Gray-400 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280; /* Gray-500 */
}